//
//  Config.xcconfig
//  KlockApp
//
//  Created by 성찬우 on 2023/04/13.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

OPENAI_API_KEY = $(OPENAI_API_KEY)
KAKAO_API_KEY = $(KAKAO_API_KEY)

OTHER_LDFLAGS = $(inherited) -ObjC -l"c++" -framework "Accelerate" -framework "CoreMedia" -framework "TensorFlowLiteTaskVision"
