//
//  Config.xcconfig
//  KlockApp
//
//  Created by 성찬우 on 2023/04/13.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

OPENAI_API_KEY = $(OPENAI_API_KEY)
KAKAO_API_KEY = $(KAKAO_API_KEY)

CLANG_WARN_QUOTED_INCLUDE_IN_FRAMEWORK_HEADER = NO
FRAMEWORK_SEARCH_PATHS = $(inherited) "${SRCROOT}/Frameworks"
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) COCOAPODS=1
OTHER_LDFLAGS = $(inherited) -ObjC -framework "Accelerate" -framework "CoreMedia" -framework "TensorFlowLiteTaskVision"
USE_RECURSIVE_SCRIPT_INPUTS_IN_SCRIPT_PHASES = YES
